[submodule "vendor/tinyxml2"]
	path = vendor/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "vendor/standard_dragon"]
	path = vendor/standard_dragon
	url = git@github.com:yretenai/standard_dragon.git
[submodule "vendor/ww2ogg"]
	path = vendor/ww2ogg
	url = git@github.com:yretenai/ww2ogg.git
[submodule "vendor/librevorb"]
	path = vendor/librevorb
	url = git@github.com:yretenai/librevorb.git
